.main-body {
    width: 100%;
    height: 100vh;
	color: #fff;
	background-color: #182327;
	padding-top: 30px;
}

.instruction-frame {
	width: 375px;
}

.main-title {
	margin-bottom: 42px;
}

.main-title h1 {
	letter-spacing: 2px !Important;
    font-size: 62px !Important;
}

#test1, #test2, #test3 {
	display: none;
}

.results, .time {
	display: inline;
}

#movementOne, #movementTwo, #movementThree, #instructionFrame1, #instructionFrame2, #instructionFrame3, #time{
	display: none;
}