@import url('https://fonts.googleapis.com/css?family=Oxygen');

@import url('https://fonts.googleapis.com/css?family=Quattrocento');

hr.style {
    height: 30px;
    border-style: solid;
    border-color: #848484;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #848484;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.main-body {
    width: 100%;
    height: 100vh;
	color: #e2e2e2;
	background-color: #182327;
	padding-top: 30px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;

}

.instruction-frame {
	width: 375px;
}

.main-title {
	margin-bottom: 42px;
}

.main-title h1 {
	letter-spacing: 0.1em !Important;
    font-size: 80px !Important;
    color: #4ca857;

	font-family: "Quattrocento", serif;
	font-weight: 100;
}

#test1, #test2, #test3 {
	display: none;
}

.results, .time {
	display: inline;
}

#movementOne, #movementTwo, #movementThree, #instructionFrame1, #instructionFrame2, #instructionFrame3, #time, #analytics, #frame1, #frame2, #frame3{
	display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

label {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  font: 12px monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#hint {
  display: none;
}
#hint:checked + div {
  display: block;
  color: white;
  font: 12px monospace;
  padding-left: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#hint + div {
  display: none;
}

.intro-note {
	margin-top: 24px;
}